td,
th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 100px;
}

svg {
    height: 150px;
}

.table {
    margin: 0px 100px 0px 100px;
    width:calc( 100% - 200px) !important;
    max-width:calc( 100% - 200px) !important;
}

td:first-of-type,
td:first-of-type>div {
    height: 200px;
    width: 250px;
}


input:focus{
    border: 1px solid grey !important;
}

.has-error{
    border: 1px solid red !important;
}

.has-error:focus{
    border: 1px solid red !important;
}
